/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML Styles */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

:root {
    /*  Default Light Mode Colors */
    --color-light-mode-black: #212529;
    --color-white: #ffffff;
    --color-light-mode-light-grey: #EEEEEE;
    --color-light-mode-medium-grey: #F5F5F5;
    --color-light-mode-dark-grey: #7D7D7D;
    --color-light-mode-darker-grey: #212529;
    --color-light-mode-darkest-grey: #37373F;
    /* Default Dark Mode Colors */
    --color-dark-mode-black: #212529;
    --color-dark-mode-light-grey: #252525;
    --color-dark-mode-medium-grey: #202020;
    --color-dark-mode-dark-grey: #171717;
    --color-dark-mode-darker-grey: #0D0D0D;
    --color-red: #E21414;
    --color-gold: #D78C23;
    --color-primary: var(--color-white);
    /*bg: Nav, chefs, contact, contact-form. colors footer items, */
    --color-secondary: var(--color-light-mode-light-grey);
    /*bg: Hero, gallery*/
    --color-tertiary: var(--color-red);
    /*color the following: Icons, Paragraph Spans, buttons, borders*/
    --color-quaternary: var(--color-light-mode-medium-grey);
    /*bg: contact-info divs*/
    --color-quinary: var(--color-white);
    --text-color-primary: var(--color-light-mode-black);
    /*colors: H1,nav icons, nav links after hover, chef-cards H3, Sections title P*/
    --text-color-secondary: var(--color-light-mode-darkest-grey);
    /*colors: Hero H2, */
    --text-color-tertiary: var(--color-light-mode-dark-grey);
    /*colors: Paragraphs, contact cards titles*/
    --text-color-btn-primary: var(--color-white);
    --text-color-btn-secondary: var(--color-black);
    --hover-btn-bg-color: hsl(0, 84%, 55%);
    --font-family-base: 'paragraph-Open-Sans', "paragraph-Noto-Sans", "paragraph-Roboto", sans-serif;
    --font-family-title: 'header-Amatic', sans-serif;
    --font-family-header: 'header-Inter', sans-serif;
    --font-size-xs: 1rem;
    --font-size-small: calc(20/16 * 1rem);
    --font-size-medium: calc(24/16 * 1rem);
    --font-size-large: calc(30/16 * 1rem);
    --font-size-x-large: calc(36/16 * 1rem);
    --font-size-xx-large: calc(48/16 * 1rem);
    --font-size-xxx-large: calc(65/16 * 1rem);
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --common-padding: calc(40/16 * 1rem) calc(5/16 * 1rem);
    --btn-padding-xs: calc(10/16 * 1rem) calc(10/16 * 1rem);
    --btn-padding-sm: calc(5/16 * 1rem) calc(15/16 * 1rem);
    --btn-padding-md: calc(10/16 * 1rem) calc(25/16 * 1rem);
    --btn-padding-lg: calc(12/16 * 1rem) calc(40/16 * 1rem);
    --animation-duration: 0.5s;
}

:root:has(#mode:checked) {
    --color-primary: var(--color-dark-mode-medium-grey);
    --color-secondary: var(--color-dark-mode-light-grey);
    --color-tertiary: var(--color-gold);
    --color-quaternary: var( --color-dark-mode-darker-grey);
    --color-quinary: var(--color-dark-mode-dark-grey);
    --text-color-primary: var(--color-white);
    --text-color-secondary: var(--color-white);
    --text-color-btn-primary: var(--color-dark-mode-black);
    --text-color-btn-secondary: var(--color-white);
    --hover-btn-bg-color: hsl(35, 72%, 55%);
}


/* Containers */

.container {
    padding: var(--common-padding);
    width: 100%;
    margin-inline: auto;
    --margin-top: 0;
    --margin-bottom: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);

}

/* shared */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-header);
    color: var(--text-color-tertiary);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-size-medium);

}

section h2 {
    font-size: var(--font-size-xs);
    text-align: center;
    text-transform: uppercase;
}

header h2,
section h3 {
    font-family: var(--font-family-title);
    color: var(--text-color-secondary);
    line-height: var(--font-size-xxx-large);
    text-transform: uppercase;
}

section h3 {
    font-size: var(--font-size-xx-large);
    text-align: center;
    font-weight: var(--font-weight-regular);
}

section h3>span {
    font-family: var(--font-family-title);
    color: var(--color-tertiary);
}

header h2 {
    font-size: var(--font-size-xxx-large);
    font-weight: var(--font-weight-bold);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color-tertiary);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
}

p {
    font-family: var(--font-family-base);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

/* navbar */
nav {
    background-color: var(--color-primary);
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 0 1rem 1px rgba(0, 0, 26, 0.5);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--common-padding);
}

nav .container h1 {
    color: var(--text-color-primary);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
}

nav .container h1::after {
    content: ".";
    color: var(--color-tertiary);
}

.nav-links {
    --link-border-width: 1rem;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.light-mode {
    display: none;
}

.dark-mode {
    display: block;
    cursor: pointer;
}

#mode:checked~label .dark-mode {
    display: none;
}

#mode:checked~label .light-mode {
    display: block;
    cursor: pointer;
}

html:not(html:has(:target)) li a[href="#home"]::before,
html:has(.landing:target) li a[href="#home"]::before,
html:has(.chefs:target) li a[href="#chefs"]::before,
html:has(.gallery:target) li a[href="#gallery"]::before,
html:has(.contact:target) li a[href="#contact"]::before {
    width: calc(100% - (var(--link-border-width)*2));
}

html:not(html:has(:target) li a[href="#home"]),
html:has(.landing:target) li a[href="#home"],
html:has(.chefs:target) li a[href="#chefs"],
html:has(.gallery:target) li a[href="#gallery"],
html:has(.contact:target) li a[href="#contact"] {
    color: var(--text-color-primary);
}

.nav-links li a {
    position: relative;
    padding: var(--btn-padding-sm);
}

.nav-links li a::before {
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--color-tertiary);
    position: absolute;
    bottom: -4px;
    transition: all var(--animation-duration) ease-in-out;
}

.nav-links li a:hover::before,
a.active::before {
    width: calc(100% - (var(--link-border-width)*2));
}

.nav-links li a:hover,
a.active {
    color: var(--text-color-primary);
}

.menu {
    color: var(--text-color-primary);
}

.close-icon {
    display: none;
}

/* Header */
header {
    height: 100vh;
    position: relative;
}

header .container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .container .hero-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-content>* {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: wrap;
}

.hero-content .hero-content-col {
    width: 40%;
    gap: 3rem;
}

.hero-content .hero-content-col .btn-group {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

.hero-content-col .btn-group .btn a {
    --border-radius: 2rem;
    background-color: var(--color-tertiary);
    padding: var(--btn-padding-md);
    color: var(--text-color-btn-primary);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    transition: color var(--animation-duration) ease-in-out;
    font-weight: var(--font-weight-regular);

}

.hero-content p {
    color: var(--text-color-tertiary);
}

.hero-content-col .btn-group .btn a:hover {
    background-color: var(--hover-btn-bg-color);
}

.hero-content-col .btn-group .video-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.video-btn {
    color: var(--text-color-secondary);
    transition: color var(--animation-duration) ease-in-out;
}

.video-btn:hover {
    color: var(--color-tertiary);
}

.video-btn>.video-icon {
    background-color: var(--color-primary);
    padding: 0.8rem;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.video-btn>.video-icon::after {
    content: "";
    height: 3.2rem;
    width: 3.2rem;
    background-color: var(--color-tertiary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    border-radius: 50%;
    z-index: -1;
}

.video-btn>.video-btn::before {
    content: "";
    height: px;
    width: 2px;
    background-color: var(--color-tertiary);

}


.hero-content .hero-img img {
    width: 100%;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 26, 0.5));

}

.hero-content .hero-img:hover {
    animation: shake var(--animation-duration) infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}


/* Chefs Section */
.chefs {
    text-align: center;
}

.chefs-title {
    margin-bottom: 3rem;
}

.chef-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    flex-wrap: wrap;
    --gap: 1.5rem;
}

.chef-cards .chef-card {
    width: calc(calc(100% - var(--gap) *2) / 3);
    border-radius: 1.5rem;
    background-color: var(--color-quinary);
    box-shadow: 0 0 1rem 1px rgba(0, 0, 26, 0.5);
    transition: transform var(--animation-duration) ease-in-out;
    position: relative;
    overflow: hidden;
}

.chef-cards .chef-card:hover {
    transform: scale(1.05);
}

.chefs picture {
    position: relative;
    overflow: hidden;
}

.chefs picture .chef-img {
    width: 100%;
    overflow: hidden;
}

.chef-card .chef-img img {
    width: 100%;
}

.chef-cards .chef-card picture:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url("../images/team-shape.svg");
    background-repeat: repeat-x;
    width: 100%;
    height: 3.5rem;
}

:root:has(#mode:checked) .chef-cards .chef-card picture:before {
    background-image: url("../images/team-shape-dark.svg");
}

/* .waves-svg {
    position: absolute;
    bottom: 38.9%;
    left: 1px;
    color: var(--color-quinary)
    
} */


.chef-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}

.chef-content>h4 {
    font-size: var(--font-size-small);
    color: var(--text-color-secondary);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
}

.chef-content>h4+span {
    color: var(--text-color-tertiary);
    text-transform: capitalize;
}

.chef-content>p {
    color: var(--text-color-tertiary);
    font-size: var(--font-size-xs);
    font-style: italic;
    padding: 1rem;
}

.fa-ul li {
    margin: 1rem 0;
}

.fa-ul {
    width: 10%;
}

.social-box a {
    margin: 0;
    padding: 0;
}

.social-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    top: 10%;
    right: -10%;
    transition: transform calc(var(--animation-duration) *2) ease-in-out;

}

.chef-card:hover .social-box {
    transform: translateX(-120%);
}

/* gallery */
.gallery {
    text-align: center;
    background-color: var(--color-secondary);
}

.gallery-title {
    margin-bottom: 2rem;
}

.gallery-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2% 2%;
    grid-template-areas:
        "pizza beef-steak burger"
        "levitation-pizza beef-steak fried-chicken"
        "levitation-pizza frittata kebab";
}

.gallery-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-cards>div {
    transition: transform var(--animation-duration) ease-in-out;
    position: relative;
    overflow: hidden;
    border: 0.3rem solid var(--color-white);
}

.gallery-cards>div:hover {
    transform: scale(1.05);
}

.pizza {
    grid-area: pizza;
}

.levitation-pizza {
    grid-area: levitation-pizza;
}

.beef-steak {
    grid-area: beef-steak;
}

.burger {
    grid-area: burger;
}

.fried-chicken {
    grid-area: fried-chicken;
}

.kebab {
    grid-area: kebab;
}

.frittata {
    grid-area: frittata;
}

.gallery-cards .layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform var(--animation-duration) ease-in-out;
    color: var(--color-white);
    font-size: var(--font-size-xs);
    
}

.gallery-cards>div:hover .layer {
    transform: translateY(0%);
}

.gallery-cards .layer h2 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* Contact */

.contact {
    text-align: center;
    background-color: var(--color-primary);
}

.contact-title {
    margin-bottom: 1.5rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
}

.contact-content > div {
    width: 100%;
}

.contact-map { 
    width: 100%;
    height: 20rem;
}
.contact-map > iframe {
    width: 100%;
    height: 100%;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    --gap: 1rem;
    gap: var(--gap);
    text-align: left;
}
.contact-info > div {
    width: calc(calc(100% - var(--gap)) / 2);
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-quaternary);
    padding: 1rem;
    border-radius: 0.2rem;
}

.contact-info > div  h4 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    margin-bottom: 0.2rem;
}

.contact-info > div  p {
    font-size: var(--font-size-xs);
    color: var(--text-color-secondary);
}

.contact-info > div  p span {
    color: var(--text-color-secondary);
    font-weight: var(--font-weight-bold);
}

.contact-info > div .icon {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color-tertiary);
    color: var(--color-tertiary);
}

.contact-info > div i {
    color: var(--text-color-btn-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



